.Home {
  text-align: center;
}

.Home-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Home-button {
  border: #f0f0f0 1px solid;
  border-radius: 5px;
  background-color: royalblue;
  color: #f0f0f0;
}

.Title {
  display: flex;
  justify-content: space-between;
}

.Title p {
  margin: 5px;
}